html {
    box-sizing: border-box;
}

*,
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(52, 181, 142);
}

a {
    text-decoration: none;
    color: Blue;
}

.flafel-image {
    width: 250px;
    display: block;
}

h1,
h2 {
    border-left: 5px solid blue;
    padding: 10px;
    background-color: lightblue;
    border-radius: 7px;
    margin: 7px 0px;
    color: brown;
}

ul,
ol {
    margin: 0px;
}
li {
    margin: 4px 0px;
}
